/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.medium {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.text-primary {
  color: var(--primary-color);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.HomePage {
  position: relative;
  background: url("./image/Landing.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.btn-primary {
  background: var(--primary-color);
}
.btn-Light {
  background: var(--light-color);
}
/* alerts */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: white;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  background-color: var(--dark-color);
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: var(--primary-color);
}
.navbar li:hover {
  border-bottom: 2px solid white;
}
/* From */
.Login-page {
  display: flex;
  justify-content: center;
}
.Login-page-right {
  flex: 1;
  padding-right: 1.5rem;
  align-items: flex-start;

  text-align: center;
}
.Login-page-left {
  flex: 1;
}

.form .form-group {
  margin: 1.2rem 0;
}
.form .form-text {
  margin-top: 0.3rem;
  color: #888;
}
.Login-page-right .loginpage-color {
  color: var(--primary-color);
  font-size: 4rem;
  line-height: 1.2;
}
.Login-page-right .signuplead {
  color: black;
  text-align: left;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: flex;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.my-1 {
  margin: 1rem 1rem;
}
/*  Dashboard */
.dashboard-welcome {
  margin-bottom: 0rem;
  font-size: 2rem;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.dashboard-image {
  width: 150px;
  height: 150px;
}
.username {
  font-weight: 500;
  color: gray;
}
@media (max-width: 800px) {
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="date"],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }
  .Login-page-right {
    display: none;
  }
  .loginpage-color {
    color: var(--primary-color);
  }
  .dashboard-image {
    display: none;
  }
}
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }
  .hide-sm {
    display: none;
  }
  .x-large {
    font-size: 3rem;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }
}
